PORT=5000
JWT_SECRET=super-secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES_DAYS=7
COOKIE_SECURE=false

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=siintern

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=HANUNG_GMAIL@gmail.com
SMTP_PASS=16-char Google App Password
EMAIL_FROM="SIIntern <HANUNG_GMAIL@gmail.com>"
